<app-alert *ngIf="showFeeback" [alert]="'alert-info'">
  Un mail vous a été envoyer.
</app-alert>
<div class="container">
  <div class="login-form">
    <div class="container">
      <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">

        <h4 class="modal-title">Changer mot de passe</h4>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" formControlName="email">
        </div>

        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Envoyer">
      </form>
    </div>
  </div>

</div>
