<div class="alert alert-success" role="alert" *ngIf=" alertSuccess">
  Merci pour votre inscrption, Vos informations de connexion vous ont été envoyé.
</div>
<ng-template [ngIf]="toLogin" [ngIfElse]="loading">

    <div class="login-form">
      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">

        <h4 class="modal-title">S'authentifier</h4>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" formControlName="nickname" >
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" >
        </div>
        <div class="form-group small clearfix">
          <a href="#" class="forgot-link" routerLink="/request/reset-password">Mot de passe oublié?</a>
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Se connecter">
      </form>
      <div class="text-center small">Vous n'avez pas un compte? <a (click)="switchToSignUp()">S'enregistrer</a></div>
    </div>

</ng-template>

<ng-template #loading>

    <div class="login-form">

      <div class="alert alert-danger" role="alert" *ngIf="alertFail">
        Une erreur est survenue , Merci de réessayer plus tard.
      </div>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">

        <h4 class="modal-title">Créer un compte</h4>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nom"  formControlName="lastName" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Prenom"  formControlName="firstName" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email"  formControlName="email" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username"  formControlName="nickname" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Telephone"  formControlName="phoneNumber" >
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Enregistrer">
      </form>
      <div class="text-center small">Vous avez déjà un compte? <a (click)="switchToSignUp()">Se connecter</a></div>
    </div>

</ng-template>



