<div class="container py-5">
  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="text-primary">Product List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow" *ngFor="let product of products">
        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{product.name}}</h5>
              <p class="font-italic text-muted mb-0 small">{{product.sku}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">{{product.unitPrice | currency: 'MAD'}}</h6>
                <button type="submit" name="Add to cart" class="btn btn-primary cart-btn" (click)="selectProductAndNavigate(product.productId)"><i
                  class="fa fa-shopping-cart">
                </i>
                  Ajouter au Panier
                </button>
              </div>
            </div>
            <img src="assets/images/placeholder.png" alt="Generic placeholder image" width="200"
                 class="ml-lg-5 order-1 order-lg-2">
          </div> <!-- End -->
        </li> <!-- End -->
        <!-- list group item-->

      </ul> <!-- End -->
      <div *ngIf="products?.length === 0 " class="alert alert-warning" role="alert">
        Produit non trouvé.
      </div>
    </div>
  </div>
</div>

