
  <nav  class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a *ngIf="isAdmin" routerLink="/admin/dashboard" class="text-white font-weight-normal"> Admin</a>
      <a *ngIf="!isAdmin" routerLink="/products" class="text-white font-weight-normal"> Home</a>

      <app-search *ngIf="!isAdmin" [isLoggedIn]="isLoggedIn"></app-search>

      <app-status  *ngIf="isLoggedIn && !isAdmin" [basket]="basket"></app-status>
      <button
        *ngIf="isLoggedIn"
        class="btn btn-danger"
        type="button"
        data-mdb-ripple-color="dark"
        (click)="logout()"
         >
        Logout
      </button>
    </div>
  </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
